* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

body {
  background-color: white;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

.searchBox {
  width: 90%; 
  margin: 20px auto;
  height: auto;
  text-align: center;
  display: flex;
  font-size: 20px;
  border-radius: 30px;
 /* box-shadow: 14px 14px 28px #bcbcbc, -14px -14px 28px #ffffff; */
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#searchForm {
  width: 60%; 
  display: flex; 
  gap: 0.3rem; 
  border-radius: 30px;
}

#searchInput,
#searchButton {
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
}

#searchInput {
  border: 1px solid black;
  width: 80%;
}

.time {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 2px 6px;
  text-align: center;
  display: flex;
  font-size: 20px;
  margin: 10px 0.3px;
  cursor: pointer;
  border-radius: 30px;
}

.time:hover {
  background-color: #45a049;
}

#searchButton {
  background-color: #ea4335;
  color: white;
  border: none;
  cursor: pointer;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto; 
  padding: 20px; 
  width: 90%;
}

.centre {
  max-width: 40%; 
  height: auto; 
}

.completions {
  text-align: center; 
  margin: 20px auto; 
  font-size: 2rem; 
  color: #333; 
}

#totalCompletions {
  font-weight: bold; 
  color: #4CAF50; 
}

#table-container {
  overflow-x: auto;
  width: 90%;
  margin: 20px auto; 
}

#Leaderboardtable {
  padding: 5% 5%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 2px solid black;
  text-align: center;
  padding: 0.75rem;
  min-width: 50px; 
  max-width: 150px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

th {
  background-color: #4285f4;
}

.styled-table {
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  border-radius: 5px;
/*  box-shadow: 1 1 20px rgba(0, 0, 0, 0.15); */
}

.styled-table thead tr {
  background-color: #60b4a396;
  color: #000000;
  text-align: left;
  border-bottom: 3px solid rgb(0, 11, 0);
}

.styled-table tbody tr:hover {
  background-color: #34a853;
  cursor: pointer;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  #searchForm {
    flex-direction: column; /* Stack elements vertically */
    width: 100%; 
  }
  th, td {
    padding: 0.5rem; 
    min-width: 30px; 
    max-width: 100px;
    white-space: normal;
  }
  table {
    display: block; 
    overflow-x: auto; 
  }
  .time {
    display: none; /* Hide the time button on mobile */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .time {
    display: none; /* Hide the time button on mobile */
  }
}

@media screen and (max-width: 992px) {
  #leaderboard {
    border: 0 !important;
  }
}

@media (max-width: 480px) {
  .centre {
    width: 100%; 
    margin-right: 0; 
  }
  #searchBox {
    flex-direction: column; 
    align-items: center; /* Center align the contents */
    width: 100%; /* Full width for the search box */
    display: flex; /* Ensure it uses flexbox */
  }
  #searchForm {
    width: 80%; /* Adjust the form width for mobile */
    display: flex; 
    flex-direction: column; /* Stack input and button vertically */
    align-items: center; /* Center align inputs */
  }
  #searchInput,
  #searchButton {
    width: 100%; /* Full width for input and button */
    font-size: 14px; 
    padding: 8px; /* Adjust padding for a smaller search bar */
    margin: 5px 0; /* Add margin for spacing */
  }
  #searchInput {
    font-size: 12px; 
  }
  #searchButton {
    font-size: 12px; 
  }
  th, td {
    padding: 0.3rem; 
  }
  .time {
    display: none; /* Hide the time button on mobile */
  }
}

