* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

body {
  background-color: white;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

.searchBox {
  width: 90%; /* Set the width of the searchBox */
  margin: 20px auto; /* Center the searchBox horizontally */
  height: 150px;
  border-radius: 57px;
  box-shadow: 14px 14px 28px #bcbcbc, -14px -14px 28px #ffffff;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
}

#searchForm {
  width: 90%; /* Set the width of the form to 90% of the searchBox */
  display: flex; /* Use flexbox for form elements */
  gap: 0.2rem; /* Space between input and button */
}

#searchInput,
#searchButton {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

#searchInput {
  border: 1px solid black;
  width: 100%;
}

#searchButton {
  background-color: #ea4335;
  color: white;
  border: none;
  cursor: pointer;
}

#header,
#table-container,
.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 50px 1.5rem;
  width: 90%;
  border-radius: 57px;
  box-shadow: 14px 14px 28px #bcbcbc, -14px -14px 28px #ffffff;
}

.centre{
  width: 30%;
  margin-right: 20px;
}

#header{
  text-align: center;
  justify-content: center;
  font-family: 'roboto', 'sans-serif';
}

#table-container {
  overflow-x: auto;
  width: 90%;
}

#Leaderboardtable{
  padding: 5% 5%;
}

.heading{
  display: flex;
  width: 90%;
  margin: 0px auto;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 2px solid black;
  text-align: center;
  padding: 0.75rem;
  min-width: 50px; 
  max-width: 150px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

th {
  background-color: #4285f4;
}

.styled-table {
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  border-radius: 5px;
  box-shadow: 1 1 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #60b4a396;
  color: #000000;
  text-align: left;
  border-bottom: 3px solid rgb(0, 11, 0);
}

.styled-table tbody tr:hover {
  background-color: #34a853;
  cursor: pointer;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  #searchForm {
    width: 100%;
  }
  th, td {
    padding: 0.5rem; 
    min-width: 30px; 
    max-width: 100px;
    white-space: normal;
  }
  table {
    display: block; 
    overflow-x: auto; 
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 992px) {
  #leaderboard {
    border: 0 !important;
  }
}

